<toaster-container></toaster-container>
<div class="container">
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="alert alert-info" *ngIf="patientList === undefined">
        <p>{{MESSAGGES_HELPER.PacientsNotFound}}</p>
      </div>
      <div class="row">
        <button class="btn btn-primary" (click)="AddUpdateModal.show()">Agregar Nuevo Paciente</button>
      </div>
      <hr>
      <table class="table" *ngIf="patientList !== undefined">
        <thead>
          <tr>
            <th scope="col" *ngFor="let col of PATIENT_COLUMN_DEF">
              {{col.field}}
            </th>
          </tr>
          <tr *ngFor="let patient of patientList">
            <td>{{patient.PatientName}}</td>
            <td>{{patient.PatientLastName}}</td>
            <td>{{patient.DocumentNumber}}</td>
            <td>{{patient.Email}}</td>
            <td>{{patient.CellPhoneNumber}}</td>
            <td>
              <button class="btn btn-sm btn-success" type="button" (click)="GetPatientById(patient.PatientId); AddUpdateModal.show();">
                Editar
              </button>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>


<div bsModal #AddUpdateModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Formulario del paciente</h4>
        <button type="button" class="close pull-right" (click)="AddUpdateModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="patientForm !== undefined">
        <div id="divBusqueda" [formGroup]="patientForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="PatientName" class="col-form-label-sm">Nombres del paciente</label>
              <input type="text" name="PatientName" formControlName="PatientName"
                [ngClass]="generalUtilities.ValidateCSSControl('PatientName', patientForm)"
                class="form-control form-control-sm" id="PatientName" [(ngModel)]="currentPatient.PatientName">
              <div *ngIf="generalUtilities.ValidateErrorControl('PatientName', patientForm)"
                [ngClass]="generalUtilities.ShowMessageError('PatientName', patientForm)">
                {{ MESSAGGES_HELPER.ValueRequired }}
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="PatientLastName" class="col-form-label-sm">Apellidos del paciente</label>
              <input type="text" name="PatientLastName" formControlName="PatientLastName"
                [ngClass]="generalUtilities.ValidateCSSControl('PatientLastName', patientForm)"
                class="form-control form-control-sm" id="PatientLastName" [(ngModel)]="currentPatient.PatientLastName">
              <div *ngIf="generalUtilities.ValidateErrorControl('PatientLastName', patientForm)"
                [ngClass]="generalUtilities.ShowMessageError('PatientLastName', patientForm)">
                {{ MESSAGGES_HELPER.ValueRequired }}
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="DocuementTypeId" class="col-form-label-sm">Tipo de Documento</label>
              <select id="DocuementTypeId" name="DocuementTypeId" formControlName="DocuementTypeId"
                [ngClass]="generalUtilities.ValidateCSSControl('DocuementTypeId',patientForm)" class="form-control form-control-sm"
                [(ngModel)]="currentPatient.DocuementTypeId">
                <option value="">Seleccione una opción...</option>
                <option *ngFor="let i of documentTypeList" [ngValue]="i.DocumentTypeId">
                  {{i.DocumentName }}
                </option>
              </select>
              <div *ngIf="generalUtilities.ValidateErrorControl('DocuementTypeId', patientForm)"
                [ngClass]="generalUtilities.ShowMessageError('DocuementTypeId', patientForm)">
                {{ MESSAGGES_HELPER.ValueRequired }}
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="DocumentNumber" class="col-form-label-sm">Numero de Documento</label>
              <input type="text" name="DocumentNumber" formControlName="DocumentNumber"
                [ngClass]="generalUtilities.ValidateCSSControl('DocumentNumber', patientForm)"
                class="form-control form-control-sm" id="DocumentNumber" [(ngModel)]="currentPatient.DocumentNumber">
              <div *ngIf="generalUtilities.ValidateErrorControl('DocumentNumber', patientForm)"
                [ngClass]="generalUtilities.ShowMessageError('DocumentNumber', patientForm)">
                {{ MESSAGGES_HELPER.ValueRequired }}
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Email" class="col-form-label-sm">Correo</label>
              <input type="email" name="Email" formControlName="Email"
                [ngClass]="generalUtilities.ValidateCSSControl('Email', patientForm)"
                class="form-control form-control-sm" id="Email" [(ngModel)]="currentPatient.Email">
              <div *ngIf="generalUtilities.ValidateErrorControl('Email', patientForm)"
                [ngClass]="generalUtilities.ShowMessageError('Email', patientForm)">
                {{ MESSAGGES_HELPER.ValueRequired }}
                {{ MESSAGGES_HELPER.EmailAlert }}
              </div>
            </div>
            <div class="form-group col-md-6">
              <label for="CellPhoneNumber" class="col-form-label-sm">Numero de telefono</label>
              <input type="text" name="CellPhoneNumber" formControlName="CellPhoneNumber"
                [ngClass]="generalUtilities.ValidateCSSControl('CellPhoneNumber', patientForm)"
                class="form-control form-control-sm" id="CellPhoneNumber" [(ngModel)]="currentPatient.CellPhoneNumber">
              <div *ngIf="generalUtilities.ValidateErrorControl('CellPhoneNumber', patientForm)"
                [ngClass]="generalUtilities.ShowMessageError('CellPhoneNumber', patientForm)">
                {{ MESSAGGES_HELPER.ValueRequired }}
              </div>
            </div>
          </div>
          <div class="form-row">
            <button type="submit" class="btn btn-primary" (click)="SendPatientForm(); AddUpdateModal.hide();">
              Enviar Formulario
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>