<div class="row">

  <div class="col-md-10 offset-md-1 bd-example bd-example-tabs">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="pills-appointment-tab" data-toggle="pill" href="#pills-appointment" role="tab"
          aria-controls="pills-appointment" aria-selected="false">Asignar Citas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-patient-tab" data-toggle="pill" href="#pills-patient" role="tab"
          aria-controls="pills-patient" aria-selected="true">Pacientes</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade " id="pills-patient" role="tabpanel" aria-labelledby="pills-patient-tab">
        <app-patient #patientComponent></app-patient>
      </div>
      <div class="tab-pane fade" id="pills-appointment" role="tabpanel" aria-labelledby="pills-appointment-tab">
        <app-appointment #appointmentComponent></app-appointment>
      </div>
    </div>
  </div>
</div>