<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 id="title">
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="assets/images/gap-logo.png">
</div>
<br>
<router-outlet></router-outlet>
