<toaster-container></toaster-container>
<div class="container">
  <ngx-loading [show]="loading"></ngx-loading>
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="row" *ngIf="appointmentForm !== undefined">
        <button class="btn btn-primary" (click)="AddAppointmentModal.show()">Agregar Nueva Cita</button>
      </div>
      <div class="alert alert-info" *ngIf="appointmentList === undefined">
        {{ MESSAGGES_HELPER.AppointmentsNotFound }}
      </div>
      <table class="table" *ngIf="appointmentList !== undefined">
        <thead>
          <tr>
            <th scope="col" *ngFor="let col of APPOINTMENT_COLUMN_DEF">
              {{col.field}}
            </th>
          </tr>
          <tr *ngFor="let appointment of appointmentList">
            <td>{{appointment.PatientLastName + ' ' + appointment.PatientName}}</td>
            <td>{{appointment.AppointmentDate}}</td>
            <td>{{appointment.AppointmentTypeName}}</td>
            <td>
              <button class="btn btn-sm btn-danger" type="button"
                (click)="RemoveAppointment(appointment.AppointmentId);">
                Cancelar cita
              </button>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<div bsModal #AddAppointmentModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Formulario de Citas</h4>
        <button type="button" class="close pull-right" (click)="AddAppointmentModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="appointmentForm !== undefined && generalUtilities !== undefined">
        <div id="divBusqueda" [formGroup]="appointmentForm">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="AppointmentDate" class="col-form-label-sm">Fecha de la cita</label>
              <input type="date" name="AppointmentDate" formControlName="AppointmentDate"
                [ngClass]="generalUtilities.ValidateCSSControl('AppointmentDate', appointmentForm)"
                class="form-control form-control-sm" id="AppointmentDate"
                [(ngModel)]="currentAppointment.AppointmentDate">
              <div *ngIf="generalUtilities.ValidateErrorControl('AppointmentDate', appointmentForm)"
                [ngClass]="generalUtilities.ShowMessageError('AppointmentDate', appointmentForm)">
                {{ MESSAGGES_HELPER.ValueRequired }}
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="AppointmentTypeId" class="col-form-label-sm">Tipo de Cita</label>
              <select id="AppointmentTypeId" name="AppointmentTypeId" formControlName="AppointmentTypeId"
                [ngClass]="generalUtilities.ValidateCSSControl('AppointmentTypeId',appointmentForm)"
                class="form-control form-control-sm" [(ngModel)]="currentAppointment.AppointmentTypeId">
                <option value="">Seleccione una opción...</option>
                <option *ngFor="let i of appointmentTypeList" [ngValue]="i.AppointmentTypeId">
                  {{i.AppointmentTypeName }}
                </option>
              </select>
              <div *ngIf="generalUtilities.ValidateErrorControl('AppointmentTypeId', appointmentForm)"
                [ngClass]="generalUtilities.ShowMessageError('AppointmentTypeId', appointmentForm)">
                {{ MESSAGGES_HELPER.ValueRequired }}
              </div>
            </div>
            <div class="form-group col-md-4">
              <label for="PatientId" class="col-form-label-sm">Paciente</label>
              <select id="PatientId" name="PatientId" formControlName="PatientId"
                [ngClass]="generalUtilities.ValidateCSSControl('PatientId',appointmentForm)"
                class="form-control form-control-sm" [(ngModel)]="currentAppointment.PatientId">
                <option value="">Seleccione una opción...</option>
                <option *ngFor="let i of patientList" [ngValue]="i.PatientId">
                  {{ i.DocumentNumber }}
                </option>
              </select>
              <div *ngIf="generalUtilities.ValidateErrorControl('PatientId', appointmentForm)"
                [ngClass]="generalUtilities.ShowMessageError('PatientId', appointmentForm)">
                {{ MESSAGGES_HELPER.ValueRequired }}
              </div>
            </div>
          </div>
          <div class="form-row">
            <button type="submit" class="btn btn-primary" (click)="AddNewAppointment(); AddAppointmentModal.hide();">
              Enviar Formulario
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>